.Reports {
  padding: 20px;

  .header{
    background: #fff;

    border: solid 1px #000;
    border-radius: 3px 3px 0 0;

    padding: 5px 10px;

    p {
      margin: 0;
      font-size: 14px;
    }

    &_top {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__right {
        text-align: right;
      }
    }

    .seperator {
      height: 1px;
      width: 100%;
      background: #000;
    }

    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-top: 5px;

      &__button {
        background: #fff;
        border: solid 1px #000;
        border-radius: 3px;
      }
    }
  }
}