.Events {

  padding: 0 20px;

  .search {
    $searchHeight: 50px;

    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 60px;

    &__input {
      height: $searchHeight;
      width: 100%;

      padding-left: 10px;
      box-sizing: border-box;
      
      border: solid 1px #000;
      border-radius: 5px 0 0 5px;
    }

    &__button {
      height: $searchHeight;
      box-sizing: border-box;

      margin-left: -1px;

      background: #fff;
      border: solid 1px #000;
      border-radius: 0 5px 5px 0;
    }
  }
}