.Events {

  padding: 0 20px;

  .search {
    $searchHeight: 50px;

    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 60px;

    &__input {
      height: $searchHeight;
      width: 100%;

      padding-left: 10px;
      box-sizing: border-box;
      
      border: solid 1px #000;
      border-radius: 5px 0 0 5px;
    }

    &__button {
      height: $searchHeight;
      box-sizing: border-box;

      margin-left: -1px;

      background: #fff;
      border: solid 1px #000;
      border-radius: 0 5px 5px 0;
    }
  }

  .event_card {
    width: 100%;

    $cardPadding: 10px 10px;

    display: flex;
    flex-direction: column;

    border: solid 1px #000;
    border-radius: 3px;

    cursor: pointer;

    p {
        margin: 0;
    }

    .card_header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-size: 14px;

      padding: $cardPadding;
      
      &__date,
      &__time {
        text-align: right;
      }
    }

    .card_seperator {
      height: 1px;
      width: 100%;
      background: #000;
    }

    .card_footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding: $cardPadding;

      &__hourly_rate {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        font-size: 12px;

        .rate {
          font-size: 28px;
        }
      }

      &__pos_available {
        display: flex;
        align-items: center;

        font-size: 12px;

        .amount {
          font-size: 32px;
        }
      }
    }
  }
}