@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

//Globals

Button {
  cursor: pointer;
}

//Utilities
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.margin_0 {
  margin: 0;
}

.seperator {
  height: 1px;
  width: 100%;
  background: #000;
}