@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

//Utilities

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
