$mobileAppHeaderHeight: 50px;
$mobileLandingHeaderHeight: 100px;

.Header {
  width: 100%;

  .landing_header {
    position: fixed;
    top: 0;
    left: 0;

    height: $mobileLandingHeaderHeight;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    padding: 23px 23px 0 0;

    background: #e7dbdb;

    &__button {
      height: 50px;
      width: 80px;

      text-decoration: none;
      color: #e7dbdb;

      background: #000;
      border-radius: 5px;
    }
  }

  .app_header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: $mobileAppHeaderHeight;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background: #fff;

    &__title {
      text-align: center;
    }

    &__nav {
      display: flex;
      align-items: center;

      box-sizing: border-box;
      margin: 0;
      margin-left: 10px;

      width: 100%;
      height: 100%;

      cursor: pointer;
    }
  }
}

.mobile_header_filler--landing {
  height: $mobileLandingHeaderHeight;
  width: 100%;
}

.mobile_header_filler--app {
  height: $mobileAppHeaderHeight;
  width: 100%;
}
