.WalletSettings {
  padding: 20px;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 32px;
      margin: 0;
    }
    

    .back_navlink {
      padding: 5px 10px;

      color: #000;
      text-decoration: none;

      border: solid 1px #000;
      border-radius: 3px;

      font-size: 22px;

      background: #fff;
    }
  }

  .content {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;

    margin: 20px 0;
    padding: 10px;
    box-sizing: border-box;

    background: #ddd;
    border-radius: 3px;

    font-size: 22px;
    text-align: center;

    &__account {
      font-size: 18px;
    }

    &__connect {
      text-align: left;
    }

    &__button {
      margin: 10px auto;
      padding: 5px 10px;

      width: 80%;

      font-size: 22px;

      background: none;
      border: solid 1px #000;
      border-radius: 3px;
    }

    &__bank_status {
      font-size: 18px;
    }
  }
}